{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered table-hover table-responsive">

    <thead class="thead-dark text-center">
        <tr>
            <th colspan="5">
                <h3><br>Vaibhav Engineering works</h3>
                <h5>Sr.no.51, Pune, Warje-Malwadi</h5>
            </th>
        </tr>
    </thead>
    <tbody style="background-color: white;">
            <tr>
                <td colspan = "3">
                    <div class="input-group text-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">To, M/S</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="company-name" class="form-control" placeholder="Company Name">  
                    </div> 
                    <br><b>GSTIN</b> : 27AAACV6873B1ZA
                </td>
                <td colspan = "2"><b>GSTIN</b> : 27APGPM6700G122 <br> <b>PAN No</b> : APGPM6700G</td>
            </tr> 
            
            <tr>
                <td colspan = "3" style="vertical-align: middle">
                    <div class="input-group">
                        <b>Challan No :</b> Number 
                        <div class="input-group-prepend" style="margin-left: 2%">
                            <span class="input-group-text" id="basic-addon1">Date</span>
                        </div>
                        <INPUT TYPE="date" NAME="date" id="date" class="form-control">
                        <b style="margin-left: 2%">Vendor No</b> : V0113
                    </div>
                </td>
                <td colspan = "2">
                    <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">PO No</span>
                            </div>
                            <INPUT TYPE="TEXT" NAME="po-no" class="form-control"> 
                        
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">JC No</span>
                            </div>
                            <INPUT TYPE="TEXT" NAME="jc-no" class="form-control">
                    </div>
                </td>
            </tr>
            
            <tr class="thead-dark text-center">
                <th style="width: 30%">Particular</th> 
                <th>Weight(kg)</th>
                <th>Qty</th>
                <th>Rate</th> 
                <th>Amount</th>
            </tr>
            
            <tr class="text-center" id="after-this1">
                <td>
                    <select id="get_code_values" class="form-control" data-id="1">
                        <option value="%">Select Code</option>
                        {% for work in works %} 
                         <option value="{{ work.code }}">{{ work.code }}</option>
                        {% endfor %}
                    </select>
                    <div class="float-left">
                        <h5 class="value1" style="margin-top: 10%; margin-bottom: 0"></h5>
                    </div>
                </td>            
                <td><INPUT class="form-control" TYPE="number" NAME="weight1" placeholder="Weight"></td>
                <td><INPUT class="form-control" TYPE="number" NAME="quantity1" placeholder="Quantity"></td>
                <td>
                    <div><h5 class="amount1"></h5></div>
                </td>
                <td class="input-group">
                    <INPUT class="form-control" TYPE="number" NAME="amount1" placeholder="Amount">
                    <button class="btn btn-primary" id="add-row1" onclick="addrow(1)">Add row</button>
                </td>
            </tr>
            
            <tr>
                <td colspan="2" rowspan="2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">DRG No</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="drg-no" placeholder="DRG No." class="form-control">
                    </div>

                    <div class="input-group" style="margin-top: 2%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Melt No</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="melt-no" placeholder="Melt No." class="form-control">
                    </div>
                </td>
                <td colspan="2"><b class="float-right">Total: </b></td>
                <td><INPUT TYPE="number" NAME="total" placeholder="total" class="form-control"></td>
            </tr>
             
            <tr>
                <td colspan="2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CGST</span>
                        </div>
                        <INPUT class="form-control" TYPE="number" NAME="cgst" placeholder="CGST">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">%</span>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 2%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">SGST</span>
                        </div>
                        <INPUT class="form-control" TYPE="number" NAME="sgst" placeholder="SGST">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">%</span>
                        </div>
                    </div>    
                </td>
                <td>
                    <div>
                        <INPUT class="form-control" TYPE="number" NAME="cgst-amount" placeholder="CGST Amount">
                    </div>
                    <div style="margin-top: 2%">
                        <INPUT class="form-control" TYPE="number" NAME="sgst-amount" placeholder="SGST Amount">
                    </div>
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <div class="input-group">
                        <b>Total Weight</b> :<INPUT style="margin-left: 2%" TYPE="number" NAME="total-weight" class="form-control" placeholder="Total Weight">
                    </div>
                </td>
                <td colspan="3">
                    <div class="input-group">
                        <b>Grand Total</b> :<INPUT style="margin-left: 2%" class="form-control" TYPE="number" NAME="grand-total" placeholder="Grand Total">
                    </div>
                </td>
            </tr>
            
            <tr>
                <td colspan="2"></td>
                <td colspan="3"><b>Signature:</b></td>
            </tr>
    </tbody>

</table>
<div class="container" style="margin-bottom: 3%">
    <div class="row text-center">
        <div class="col">
            <div class="btn btn-group">
                <div class="btn btn-success" id="download" data-id="">Download</div>
                <div class="btn btn-warning" id="clear">Clear</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    // to add new row to table
    function addrow(id){
        id += 1;
        var markup = `
            <tr class="text-center" id="after-this` + id + `">
                <td>
                    <select id="get_code_values" class="form-control" data-id="` + id + `">
                        <option value="%">Select Code</option>
                        {% for work in works %}
                         <option value="{{ work.code }}">{{ work.code }}</option>
                        {% endfor %}
                    </select>
                    <div class="float-left">
                        <h5 class="value` + id + `" style="margin-top: 10%; margin-bottom: 0"></h5>
                    </div>
                </td>
                <td><INPUT class="form-control" TYPE="number" NAME="weight` + id + `" placeholder="Weight"></td>
                <td><INPUT class="form-control" TYPE="number" NAME="quantity` + id + `" placeholder="Quantity"></td>
                <td>
                    <div><h5 class="amount` + id + `"></h5></div>
                </td>
                <td class="input-group">
                    <INPUT class="form-control" TYPE="number" NAME="amount` + id + `" placeholder="Amount">
                    <button class="btn btn-primary" id="add-row` + id + `" onclick="addrow(` + id + `)">Add row</button>
                </td>
            </tr>
        `;
        $("table tbody #after-this" + (id - 1)).after(markup);
        $("#add-row" + (id - 1)).hide();
    }

    $("#clear").on("click", function(){
        $("input").val('');
    });

    $(document).on("change", "#get_code_values", function(){
        var id = $(this).attr("data-id");
        var selectedValue = $(this).val();
        get_value(id, selectedValue);
    });

    function get_value(id, selectedValue){
        $.ajax({
            url : "{% url 'get_code_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('.value' + id).text(data.name);
                $('.amount' + id).text(data.amount);
            }
        });

        $("input[name=quantity" + id + "]").on("keyup", function(){
            var quantity = $(this).val();
            var weight = $("#weight" + id).val();
            var amount = $(".amount" + id).text();
            $("input[name=amount"  + id + "]").val(amount * quantity);

            get_total(id);
        });
    }

    function get_total(id){
        var total = 0;
        for (i = 1; i <= parseInt(id); i++){
            if($("input[name=amount" + i + "]").val()){
                total += parseFloat($("input[name=amount" + i + "]").val());
            }
            else{
                total += 0;
            }
        }
        $("input[name=total]").val(total);
        get_total_weight(id);
    }

    function get_total_weight(id){
        var total = 0;
        for (i = 1; i <= parseInt(id); i++){
            if($("input[name=weight" + i + "]").val()){
                total += parseFloat($("input[name=weight" + i + "]").val());
            }
            else{
                total += 0;
            }
        }
        $("input[name=total-weight]").val(total);
        
        get_grand_total(id);
    }

    function get_grand_total(id){
        var cgst = $("input[name=cgst]").val();
        var total = $("input[name=total]").val();
        var cgst_amount = (parseFloat(cgst) / 100) * parseFloat(total);
        $("input[name=cgst-amount]").val(cgst_amount);

        var sgst = $("input[name=sgst]").val();
        var total = $("input[name=total]").val();
        var sgst_amount = (parseFloat(sgst) / 100) * parseFloat(total);
        $("input[name=sgst-amount]").val(sgst_amount);

        if($("input[name=cgst").val() && $("input[name=sgst").val()){
            var cgst = $("input[name=cgst").val();
            var sgst = $("input[name=sgst").val();
            var total = $("input[name=total").val();
            $("input[name=grand-total").val((((parseFloat(cgst) + parseFloat(sgst)) / 100) * parseFloat(total)) + parseFloat(total));
        }

        $("#download").attr("data-id", id);
    }

    $("input[name=cgst]").on("keyup", function(){
        var cgst = $("input[name=cgst]").val();
        var total = $("input[name=total]").val();
        var cgst_amount = (parseFloat(cgst) / 100) * parseFloat(total);
        $("input[name=cgst-amount]").val(cgst_amount);

        if($("input[name=cgst").val() && $("input[name=sgst").val()){
            var cgst = $("input[name=cgst").val();
            var sgst = $("input[name=sgst").val();
            var total = $("input[name=total").val();
            $("input[name=grand-total").val((((parseFloat(cgst) + parseFloat(sgst)) / 100) * parseFloat(total)) + parseFloat(total));
        }
    });

    $("input[name=sgst]").on("keyup", function(){
        var cgst = $("input[name=sgst]").val();
        var total = $("input[name=total]").val();
        var sgst_amount = (parseFloat(cgst) / 100) * parseFloat(total);
        $("input[name=sgst-amount]").val(sgst_amount);

        if($("input[name=cgst").val() && $("input[name=sgst").val()){
            var cgst = $("input[name=cgst").val();
            var sgst = $("input[name=sgst").val();
            var total = $("input[name=total").val();
            $("input[name=grand-total").val((((parseFloat(cgst) + parseFloat(sgst)) / 100) * parseFloat(total)) + parseFloat(total));
        }
    });

    $("#download").on("click", function(){
        var id = $("#download").attr("data-id");
        var works = new Array();
        for(var i = 1; i <= parseInt(id); i++){
            works.push({
                code        : $("select[data-id=" + i +"]").val(),
                vendor_name : $(".value" + i).text(),
                rate        : $(".amount" + i).text(),
                amount      : $("input[name=amount" + i + "]").val(),
                quantity    : $("input[name=quantity" + i + "]").val(),
                weight      : $("input[name=weight" + i + "]").val()
            });
        }

        $.ajax({
            url : "{% url 'generate_pdf_assembly' %}",
            type : "GET",
            data : {
                "company_name"      : $("input[name=company-name]").val(),
                "date"              : $("#date").val(),
                "po_number"         : $("input[name=po-no]").val(),
                "jc_number"         : $("input[name=jc-no]").val(),
                "works"             : JSON.stringify(works),
                "drg_number"        : $("input[name=drg-no]").val(),
                "melt_number"       : $("input[name=melt-no]").val(),
                "cgst"              : $("input[name=cgst]").val(),
                "cgst_amount"       : $("input[name=cgst-amount]").val(),
                "sgst"              : $("input[name=sgst]").val(),
                "sgst_amount"       : $("input[name=sgst-amount]").val(),
                "total"             : $("input[name=total]").val(),
                "grand_total"       : $("input[name=grand-total]").val(),
                "total_weight"      : $("input[name=total-weight]").val()
            },
            dataType : "json",
            success : function(data){
                window.location = "/works/get/pdf/assembly/"
            },
            error: function(data){
                // var blob = new Blob([data]);
                // alert(blob);
                // var link=document.createElement('a');
                // link.href=window.URL.createObjectURL(blob);
                // link.download="download.pdf";
                // link.click();
                window.location = "/works/get/pdf/assembly/"
            }
        });
    });
</script>
{% endblock %}