{% extends 'base.html' %}

{% block content %}
<table class="table table-bordered table-hover table-responsive">

    <thead class="thead-dark text-center">
        <tr>
            <th colspan="5">
                <h3><br>Vaibhav Engineering works</h3>
                <h5>Sr.no.51, Pune, Warje-Malwadi</h5>
            </th>
        </tr>
    </thead>
    <tbody style="background-color: white;">
            <tr>
                <td colspan = "3">
                    <div class="input-group text-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">To, M/S</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="company-name" class="form-control" placeholder="Company Name">  
                    </div> 
                    <br><b>GSTIN</b> : 27AAACV6873B1ZA
                </td>
                <td colspan = "2"><b>GSTIN</b> : 27APGPM6700G122 <br> <b>PAN No</b> : APGPM6700G</td>
            </tr> 
            
            <tr>
                <td colspan = "3" style="vertical-align: middle">
                    <div class="input-group">
                        <b>Challan No :</b> Number 
                        <div class="input-group-prepend" style="margin-left: 2%">
                            <span class="input-group-text" id="basic-addon1">Date</span>
                        </div>
                        <INPUT TYPE="date" NAME="date" id="date" class="form-control">
                        <b style="margin-left: 2%">Vendor No</b> : V0113
                    </div>
                </td>
                <td colspan = "2">
                    <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">PO No</span>
                            </div>
                            <INPUT TYPE="TEXT" NAME="po-no" class="form-control"> 
                        
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">JC No</span>
                            </div>
                            <INPUT TYPE="TEXT" NAME="jc-no" class="form-control">
                    </div>
                </td>
            </tr>
            
            <tr class="thead-dark text-center">
                <th style="width: 30%">Particular</th> 
                <th>Weight(kg)</th>
                <th>Qty</th>
                <th>Rate</th> 
                <th>Amount</th>
            </tr>
            
            <tr class="text-center">
                <td>
                    <select id="get_code_values1" class="form-control">
                        <option value="%">Select Code</option>
                        {% for work in works %} 
                         <option value="{{ work.code }}">{{ work.code }}</option>
                        {% endfor %}
                    </select>
                    <div class="float-left">
                        <h5 class="value1" style="margin-top: 10%; margin-bottom: 0"></h5>
                    </div>
                </td>            
                <td><INPUT class="form-control" TYPE="number" NAME="weight1" placeholder="weight"></td>
                <td><INPUT class="form-control" TYPE="number" NAME="quantity1" placeholder="quantity"></td>
                <td>
                    <div><h5 class="amount1"></h5></div>
                </td>
                <td><INPUT class="form-control" TYPE="number" NAME="amount1" placeholder="amount"></td>
            </tr>
            
            <tr class="text-center">
                    <td>
                        <select id="get_code_values2" class="form-control">
                            <option value="%">Select Code</option>
                            {% for work in works %} 
                             <option value="{{ work.code }}">{{ work.code }}</option>
                            {% endfor %}
                        </select>
                        <div class="float-left">
                            <h5 class="value2" style="margin-top: 10%; margin-bottom: 0"></h5>
                        </div>
                    </td>            
                    <td><INPUT class="form-control" TYPE="number" NAME="weight2" placeholder="weight"></td>
                    <td><INPUT class="form-control" TYPE="number" NAME="quantity2" placeholder="quantity"></td>
                    <td>
                        <div><h5 class="amount2"></h5></div>
                    </td>
                    <td><INPUT class="form-control" TYPE="number" NAME="amount2" placeholder="amount"></td>
                </tr>
            
                <tr class="text-center">
                        <td>
                            <select id="get_code_values3" class="form-control">
                                <option value="%">Select Code</option>
                                {% for work in works %} 
                                 <option value="{{ work.code }}">{{ work.code }}</option>
                                {% endfor %}
                            </select>
                            <div class="float-left">
                                <h5 class="value3" style="margin-top: 10%; margin-bottom: 0"></h5>
                            </div>
                        </td>            
                        <td><INPUT class="form-control" TYPE="number" NAME="weight3" placeholder="weight"></td>
                        <td><INPUT class="form-control" TYPE="number" NAME="quantity3" placeholder="quantity"></td>
                        <td>
                            <div><h5 class="amount3"></h5></div>
                        </td>
                        <td><INPUT class="form-control" TYPE="number" NAME="amount3" placeholder="amount"></td>
                    </tr>
            
            <tr>
                <td colspan="2" rowspan="2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">DRG No</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="drg-no" placeholder="DRG No." class="form-control">
                    </div>

                    <div class="input-group" style="margin-top: 2%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Melt No</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="melt-no" placeholder="Melt No." class="form-control">
                    </div>
                </td>
                <td colspan="2"><b class="float-right">Total: </b></td>
                <td><INPUT TYPE="number" NAME="total" placeholder="total" class="form-control"></td>
            </tr>
             
            <tr>
                <td colspan="2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CGST</span>
                        </div>
                        <INPUT class="form-control" TYPE="number" NAME="cgst">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">%</span>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 2%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">SGST</span>
                        </div>
                        <INPUT class="form-control" TYPE="number" NAME="sgst">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">%</span>
                        </div>
                    </div>    
                </td>
                <td></td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <div class="input-group">
                        <b>Total Weight</b> :<INPUT style="margin-left: 2%" TYPE="number" NAME="total-weight" class="form-control">
                    </div>
                </td>
                <td colspan="3">
                    <div class="input-group">
                        <b>Grand Total</b> :<INPUT style="margin-left: 2%" class="form-control" TYPE="number" NAME="grand-total">
                    </div>
                </td>
            </tr>
            
            <tr>
                <td colspan="2"></td>
                <td colspan="3"><b>Signature:</b></td>
            </tr>
    </tbody>

</table>
<div class="row text-center">
    <div class="col">
        <div class="btn btn-dark" id="download">Download</div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    // For first work
    $("#get_code_values1").on("change", function(){
        var selectedValue = $(this).val();
        $.ajax({
            url : "{% url 'get_code_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('.value1').text('Name: ' + data.name);
                $('.amount1').text(data.amount);
            }
        });
    });

    $("input[name=quantity1]").on("keyup", function(){
        var quantity = $(this).val();
        var weight = $("#weight1").val();
        var amount = $(".amount1").text();
        $("input[name=amount1]").val(amount * quantity);

        get_total();
    });

    // For second work
    $("#get_code_values2").on("change", function(){
        var selectedValue = $(this).val();
        $.ajax({
            url : "{% url 'get_code_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('.value2').text('Name: ' + data.name);
                $('.amount2').text(data.amount);
            }
        });
    });

    $("input[name=quantity2]").on("keyup", function(){
        var quantity = $(this).val();
        var weight = $("#weight2").val();
        var amount = $(".amount2").text();
        $("input[name=amount2").val(amount * quantity);

        get_total();
    });


    // For third work
    $("#get_code_values3").on("change", function(){
        var selectedValue = $(this).val();
        $.ajax({
            url : "{% url 'get_code_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('.value3').text('Name: ' + data.name);
                $('.amount3').text(data.amount);
            }
        });
    });

    $("input[name=quantity3]").on("keyup", function(){
        var quantity = $(this).val();
        var weight = $("#weight3").val();
        var amount = $(".amount3").text();
        $("input[name=amount3").val(amount * quantity);
        
        get_total();
    });

    function get_total(){
        if ($("input[name=amount1").val() && $("input[name=amount2").val() && $("input[name=amount3").val())
        {
            var a1 = $("input[name=amount1").val();
            var a2 = $("input[name=amount2").val();
            var a3 = $("input[name=amount3").val();

            $("input[name=total]").val(parseInt(a1) + parseInt(a2) + parseInt(a3));
        }
        get_grand_total();
    }

    $("input[name=cgst]").on("keyup", function(){
        get_grand_total();
    });

    $("input[name=sgst]").on("keyup", function(){
        get_grand_total();
    });

    function get_grand_total(){
        if($("input[name=cgst").val() && $("input[name=sgst").val()){
            var cgst = $("input[name=cgst").val();
            var sgst = $("input[name=sgst").val();
            var total = $("input[name=total").val();
            $("input[name=grand-total").val((((parseFloat(cgst) + parseFloat(sgst)) / 100) * parseFloat(total)) + parseFloat(total));
        }
    }

    $("#download").on("click", function(){
        $.ajax({
            url : "{% url 'generate_pdf' %}",
            type : "GET",
            data : {
                "company_name"      : $("input[name=company-name]").val(),
                "date"              : $("#date").val(),
                "po_number"         : $("input[name=po-no]").val(),
                "jc_number"         : $("input[name=jc-no]").val(),
                "vendor_name1"      : $(".value1").text(),
                "rate1"             : $(".amount1").text(),
                "amount1"           : $("input[name=amount1]").val(),
                "quantity1"         : $("input[name=quantity1]").val(),
                "weight1"           : $("input[name=weight1]").val(),
                "vendor_name2"      : $(".value2").text(),
                "rate2"             : $(".amount2").text(),
                "amount2"           : $("input[name=amount2]").val(),
                "quantity2"         : $("input[name=quantity2]").val(),
                "weight2"           : $("input[name=weight2]").val(),
                "vendor_name3"      : $(".value3").text(),
                "rate3"             : $(".amount3").text(),
                "amount3"           : $("input[name=amount3]").val(),
                "quantity3"         : $("input[name=quantity3]").val(),
                "weight3"           : $("input[name=weight3]").val(),
                "drg_number"        : $("input[name=drg-no]").val(),
                "melt_number"       : $("input[name=melt-no]").val(),
                "cgst"              : $("input[name=cgst]").val(),
                "sgst"              : $("input[name=sgst]").val(),
                "total"             : $("input[name=total]").val(),
                "grand_total"       : $("input[name=grand-total]").val(),
            },
            dataType : "json",
            success : function(data){
                window.location = "/works/get/pdf/"
            },
            error: function(data){
                // var blob = new Blob([data]);
                // alert(blob);
                // var link=document.createElement('a');
                // link.href=window.URL.createObjectURL(blob);
                // link.download="download.pdf";
                // link.click();
                window.location = "/works/get/pdf/"
            }
        });
    });
</script>
{% endblock %}