{% extends 'base.html' %}
{% block title %}Invoice | Melt{% endblock %}
{% block content %}
<table class="table table-bordered table-hover table-responsive">

    <thead class="thead-dark text-center">
        <tr>
            <th colspan="5">
                <h3><br>Vaibhav Engineering works</h3>
                <h5>Sr.no.51, Pune, Warje-Malwadi</h5>
            </th>
        </tr>
    </thead>
    <tbody style="background-color: white;">
            <tr>
                <td colspan = "3">
                    <div class="input-group text-center">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">To, M/S</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="company-name" autocomplete="on" id="company-name" class="form-control" value="VANAZ ENGINEERS LTD, 85/1, PAUD ROAD, PUNE-38">  
                    </div> 
                    <br><b>GSTIN</b> : 27AAACV6873B1ZA
                    <div class="input-group" style="margin-top: 2%">
                            <b>HSN Code:</b>
                            <select id="get_hsc_value" class="form-control" style="margin-left: 2%">
                                <option value="%">Select Code</option>
                                {% for work in hsc %} 
                                    <option value="{{ work.hsc_number }}">{{ work.hsc_number }}</option>
                                {% endfor %}
                            </select>
                    </div>
                </td>
                <td colspan = "2">
                    <b>GSTIN</b> : 27APGPM6700G1ZZ <br> <b>PAN No</b> : APGPM6700G
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Your Challan</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="your-challan" class="form-control">
                    </div>
                    <div class="input-group" style="margin-top: 2%"> 
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Dated</span>
                        </div>
                        <INPUT TYPE="date" NAME="dated" class="form-control">
                    </div>
                </td>
            </tr> 
            
            <tr>
                <td colspan = "3" style="vertical-align: middle">
                    <div class="input-group">
                        <b>Challan No : </b> <span style="color: red; margin-left: 2%"><b>{{ challan_number }}</b></span>
                        <div class="input-group-prepend" style="margin-left: 2%">
                            <span class="input-group-text" id="basic-addon1">Date</span>
                        </div>
                        <INPUT TYPE="date" NAME="date" id="date" class="form-control">
                        <b style="margin-left: 2%">Vendor No</b> : V0113<br>
                    </div>
                </td>
                <td colspan = "2">
                    <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">PO No</span>
                            </div>
                            <INPUT TYPE="TEXT" NAME="po-no" class="form-control"> 
                        
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">JC No</span>
                            </div>
                            <INPUT TYPE="TEXT" NAME="jc-no" class="form-control">
                    </div>
                </td>
            </tr>
            
            <tr class="thead-dark text-center">
                <th style="width: 30%">Particular</th> 
                <th>Weight(kg)</th>
                <th>Qty</th>
                <th>Rate</th> 
                <th>Amount</th>
            </tr>
            
            <tr class="text-center">
                <td>
                    <select id="get_code_values1" class="form-control">
                        <option value="%">Select Code</option>
                        {% for work in works %} 
                         <option value="{{ work.code }}">{{ work.code }}</option>
                        {% endfor %}
                    </select>
                    <div class="float-left">
                        <h5 class="value1" style="margin-top: 10%; margin-bottom: 0"></h5>
                    </div>
                </td>            
                <td>
                    <INPUT class="form-control" TYPE="number" NAME="weight1" placeholder="Weight">
                    <div class="input-group" style="margin-top: 2%">
                        <INPUT class="form-control" TYPE="number" NAME="bags1" placeholder="">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">Bags</span>
                        </div>
                    </div>  
                </td>
                <td><INPUT class="form-control" TYPE="number" NAME="quantity1" placeholder="Quantity"></td>
                <td>
                    <div><h5 class="amount1"></h5></div>
                </td>
                <td><INPUT class="form-control" TYPE="number" NAME="amount1" placeholder="Amount"></td>
            </tr>
            
            <tr class="text-center">
                    <td style="text-align: left;">
                        <h5>End Pieces:</h5>
                    </td>            
                    <td>
                        <INPUT class="form-control" TYPE="number" NAME="weight2" placeholder="Weight">
                        <div class="input-group" style="margin-top: 2%">
                            <INPUT class="form-control" TYPE="number" NAME="bags2" placeholder="">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1">Bags</span>
                            </div>
                        </div> 
                    </td>
                    <td><INPUT class="form-control" TYPE="number" NAME="quantity2" placeholder="Quantity"></td>
                    <td>
                        <div><h5 class="amount2"></h5></div>
                    </td>
                    <td><INPUT class="form-control" TYPE="number" NAME="amount2" placeholder="Amount"></td>
                </tr>
            
                <tr class="text-center">
                    <td style="text-align: left;">
                        <h5>Scrap:</h5>
                    </td>            
                    <td>
                        <INPUT class="form-control" TYPE="number" NAME="weight3" placeholder="Weight">
                        <div class="input-group" style="margin-top: 2%">
                            <INPUT class="form-control" TYPE="number" NAME="bags3" placeholder="">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon1">Bags</span>
                            </div>
                        </div> 
                    </td>
                    <td><INPUT class="form-control" TYPE="number" NAME="quantity3" placeholder="Quantity"></td>
                    <td>
                        <div><h5 class="amount3"></h5></div>
                    </td>
                    <td><INPUT class="form-control" TYPE="number" NAME="amount3" placeholder="Amount"></td>
                </tr>
            
            <tr>
                <td colspan="2" rowspan="2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">DRG No</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="drg-no" placeholder="DRG No." class="form-control">
                    </div>

                    <div class="input-group" style="margin-top: 2%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Melt No</span>
                        </div>
                        <INPUT TYPE="TEXT" NAME="melt-no" placeholder="Melt No." class="form-control">
                    </div>
                </td>
                <td colspan="2"><b class="float-right">Total: </b></td>
                <td><INPUT TYPE="number" NAME="total" placeholder="total" class="form-control"></td>
            </tr>
             
            <tr>
                <td colspan="2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CGST</span>
                        </div>
                        <INPUT class="form-control" TYPE="number" NAME="cgst" placeholder="CGST">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">%</span>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 2%">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">SGST</span>
                        </div>
                        <INPUT class="form-control" TYPE="number" NAME="sgst" placeholder="SGST">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon1">%</span>
                        </div>
                    </div>    
                </td>
                <td>
                    <div>
                        <INPUT class="form-control" TYPE="number" NAME="cgst-amount" placeholder="CGST Amount">
                    </div>
                    <div style="margin-top: 2%">
                        <INPUT class="form-control" TYPE="number" NAME="sgst-amount" placeholder="SGST Amount">
                    </div>
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <div class="input-group">
                        <b>Total Weight</b> :<INPUT style="margin-left: 2%" TYPE="number" NAME="total-weight" class="form-control" placeholder="Total Weight">
                    </div>
                </td>
                <td colspan="3">
                    <div class="input-group">
                        <b>Grand Total</b> :<INPUT style="margin-left: 2%" class="form-control" TYPE="number" NAME="grand-total" placeholder="Grand Total">
                    </div>
                </td>
            </tr>
            
            <tr>
                <td colspan="2">
                    <div style="text-align: center">
                        Receives the above mentioned goods in good working condition
                    </div>
                    <br>
                    <br>
                    <div style="display: inline">
                        <span style="float: left">Send Through</span>
                        <span style="float: right; ">Received By</span>
                    </div>
                </td>
                <td colspan="3">
                    <br>
                    <br>
                    <div style="vertical-align: bottom !important; text-align: center">
                        For Vaibhav Engineering Works
                    </div>
                </td>
            </tr>
    </tbody>

</table>
<div class="container" style="margin-bottom: 3%">
    <div class="row text-center">
        <div class="col">
            <div class="btn btn-group">
                <div class="btn btn-success" id="download">Download</div>
                <div class="btn btn-warning" id="clear" onclick="return confirm('Are you sure?');">Clear</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    $("#clear").on("click", function(){
        $("input").val('');
    });

    $("#get_hsc_value").on("change", function(){
        var selectedValue = $(this).val();
        $.ajax({
            url : "{% url 'get_hsc_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('input[name=cgst]').val(data.cgst);
                $('input[name=sgst]').val(data.sgst);
            }
        });
        get_total_weight();
        get_grand_total();
    });

    // For first work
    $("#get_code_values1").on("change", function(){
        var selectedValue = $(this).val();
        $.ajax({
            url : "{% url 'get_code_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('.value1').text(data.name);
                $('.amount1').text(data.amount);
            }
        });
        get_total_weight();
    });

    $("input[name=quantity1]").on("keyup", function(){
        var quantity = $(this).val();
        var weight = $("#weight1").val();
        var amount = $(".amount1").text();
        $("input[name=amount1]").val(amount * quantity);

        get_total();
    });

    // For second work
    $("#get_code_values2").on("change", function(){
        var selectedValue = $(this).val();
        $.ajax({
            url : "{% url 'get_code_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('.value2').text(data.name);
                $('.amount2').text(data.amount);
            }
        });
    });

    $("input[name=quantity2]").on("keyup", function(){
        var quantity = $(this).val();
        var weight = $("#weight2").val();
        var amount = $(".amount2").text();
        $("input[name=amount2").val(amount * quantity);

        get_total();
    });


    // For third work
    $("#get_code_values3").on("change", function(){
        var selectedValue = $(this).val();
        $.ajax({
            url : "{% url 'get_code_values' %}",
            type : "GET",
            data : {"code" : selectedValue},
            dataType : "json",
            success : function(data){
                // alert(data.name);
                $('.value3').text(data.name);
                $('.amount3').text(data.amount);
            }
        });
    });

    $("input[name=quantity3]").on("keyup", function(){
        var quantity = $(this).val();
        var weight = $("#weight3").val();
        var amount = $(".amount3").text();
        $("input[name=amount3").val(amount * quantity);
        
        get_total();
    });

    function get_total(){
        var a1 = $("input[name=amount1").val();

        $("input[name=total]").val(parseInt(a1));
        get_grand_total();
        get_total_weight();
    }

    function get_total_weight(){
        if ($("input[name=weight1").val() && $("input[name=weight2").val() && $("input[name=weight3").val())
        {
            var w1 = $("input[name=weight1").val();
            var w2 = $("input[name=weight2").val();
            var w3 = $("input[name=weight3").val();

            $("input[name=total-weight]").val(parseFloat(w1) + parseFloat(w2) + parseFloat(w3));
        }
    }

    $("input[name=cgst]").on("keyup", function(){
        get_grand_total();
    });

    $("input[name=sgst]").on("keyup", function(){
        get_grand_total();
    });

    $("input[name=weight1]").on("keyup", function(){
        get_total_weight();
    });

    $("input[name=weight2]").on("keyup", function(){
        get_total_weight();
    });

    $("input[name=weight3]").on("keyup", function(){
        get_total_weight();
    });

    function get_grand_total(){
        var cgst = $("input[name=cgst]").val();
        var total = $("input[name=total]").val();
        var cgst_amount = (parseFloat(cgst) / 100) * parseFloat(total);
        $("input[name=cgst-amount]").val(cgst_amount.toFixed(2));
        
        var sgst = $("input[name=sgst]").val();
        var total = $("input[name=total]").val();
        var sgst_amount = (parseFloat(sgst) / 100) * parseFloat(total);
        $("input[name=sgst-amount]").val(sgst_amount.toFixed(2));

        if($("input[name=cgst").val() && $("input[name=sgst").val()){
            var cgst = $("input[name=cgst").val();
            var sgst = $("input[name=sgst").val();
            var total = $("input[name=total").val();
            $("input[name=grand-total").val((((parseFloat(cgst) + parseFloat(sgst)) / 100) * parseFloat(total)) + parseFloat(total));
        }
    }

    $("#download").on("click", function(){
        $.ajax({
            url : "{% url 'generate_pdf' %}",
            type : "GET",
            data : {
                "company_name"      : $("input[name=company-name]").val(),
                "hsc_number"        : $("#get_hsc_value option:selected").val(),
                "date"              : $("#date").val(),
                "po_number"         : $("input[name=po-no]").val(),
                "jc_number"         : $("input[name=jc-no]").val(),
                "code1"             : $("#get_code_values1 option:selected").val(),
                "vendor_name1"      : $(".value1").text(),
                "rate1"             : $(".amount1").text(),
                "amount1"           : $("input[name=amount1]").val(),
                "quantity1"         : $("input[name=quantity1]").val(),
                "weight1"           : $("input[name=weight1]").val(),
                "weight2"           : $("input[name=weight2]").val(),
                "weight3"           : $("input[name=weight3]").val(),
                "bags1"             : $("input[name=bags1]").val(),
                "bags2"             : $("input[name=bags2]").val(),
                "bags3"             : $("input[name=bags3]").val(),
                "drg_number"        : $("input[name=drg-no]").val(),
                "melt_number"       : $("input[name=melt-no]").val(),
                "cgst"              : $("input[name=cgst]").val(),
                "cgst_amount"       : $("input[name=cgst-amount]").val(),
                "sgst"              : $("input[name=sgst]").val(),
                "sgst_amount"       : $("input[name=sgst-amount]").val(),
                "total"             : $("input[name=total]").val(),
                "grand_total"       : $("input[name=grand-total]").val(),
                "total_weight"      : $("input[name=total-weight]").val(),
                "your_challan"      : $("input[name=your-challan]").val(),
                "dated"             : $("input[name=dated]").val(),
                "challan_number"    : "{{ challan_number }}",
            },
            dataType : "json",
            success : function(data){
                window.location = "/works/get/pdf/";
                setTimeout(function(){
                    window.location.replace("/works/invoice/melt/");
                }, 3000);
            },
            error: function(data){
                // var blob = new Blob([data]);
                // alert(blob);
                // var link=document.createElement('a');
                // link.href=window.URL.createObjectURL(blob);
                // link.download="download.pdf";
                // link.click();
                window.location = "/works/get/pdf/";
                setTimeout(function(){
                    window.location.replace("/works/invoice/melt/");
                }, 3000);
            }
        });
    });
</script>
{% endblock %}